[test]
Heuristic.DirectHeuristic0							= .5
Heuristic.DirectHeuristic1         					= .5
Heuristic.DirectHeuristic234         				= .5
Heuristic.IndirectHeuristic0         				= .5
Heuristic.IndirectHeuristic1         				= .5
Heuristic.IndirectHeuristic234         				= .5
Heuristic.IndirectHeuristicFalsePositives         	= 1
Heuristic.IndirectHeuristicTruePositives         	= 1
Heuristic.IndirectHeuristicAboveBelow         		= 1
OperatorLT.Nominal1         						= 1
Move.ConstructorAndScore         					= 1
BoardTest.PotentialMoves1         					= 2
BoardTest.PotentialMoves2         					= 1
BoardTest.NoPotentialMoves         					= 1
BoardTest.Undo1         							= 3
Solver.Basic         								= 3
Solver.Difficult         							= 2
Solver.InBoard10x10         						= 2
Solver.Direct         								= 1
Solver.UnSolvable1         							= 2