[test]
Parsers.MdParserSpecialStart = 1
Parsers.MdParserSpecialEnd = 1
Parsers.MdParserSpecialMiddle = 1
Parsers.MdParserTextFull = 1
Parsers.MdParserLinksSepStart = 0.5
Parsers.MdParserLinksSepEnd = 0.5
Parsers.MdParserLinksSepMiddle = 0.5
Parsers.MdParserLinksFull = 0.5
Parsers.MDWriteupCornerCases = 1
Parsers.MDAnchorAnchor = 1

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0
