[test]
LabelList.Nominal = 3

EmptyList.EmptyAndSize = 1
EmptyList.OperationsOnEmptyList = 2
Exceptions.Find = .5
Exceptions.Label = .5
Exceptions.Print = .5
Exceptions.Unlabel = .5
Label.Label1 = 4
Label.Label2 = 4
Label.AddRemoveAfterLabel = 4
Find.FindEmpty = 1
Find.FindViaMessage = 1
Find.FindViaIndex = 1
Unlabel.Unlabel1 = 4
Unlabel.UnlabelBadLabel = 1
Unlabel.UnlabelRemove = 2
MsgToken.ComparisonBool = 1
MsgToken.Label = 1
MsgToken.Msg = 1
MsgToken.Ostream = 1
MsgToken.NextPrev = 2
Remove.UnlinkNodeLabel = 2
