[test]
Cmdhandlers.AndHandler = 1
Cmdhandlers.OrHandler = 1
Cmdhandlers.DiffHandler = 1
Cmdhandlers.IncomingHandler = 1
Cmdhandlers.OutgoingHandler = 1

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0
