[test]
SearchEng.ParserRegistration = 1
SearchEng.ReadPageMultipleTimes = 2
SearchEng.ANDCombiner = 2
SearchEng.ORCombiner = 2
SearchEng.DiffCombiner = 2
SearchEng.RetrievePage = 4
SearchEng.LinkCornerCases = 1
SearchEng.SameLink = 1
SearchEng.DisplayPage = 2

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  4
valgrind_flat            =  4
valgrind_per_test        =  0
